[core]
  editor = vim
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  aa = add -A
  co = checkout
  cm = commit -m
  st = status
  ac = !git aa && git cm
[user]
	email = terima666tatsuya@yahoo.co.jp
	name = Tatsuya Teshima
