[core]
	editor = vim
	excludesfile = /Users/tatsuya/.gitignore_global
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = current
[alias]
	aa = add -A
	co = checkout
	cm = commit -m
	st = status
	ac = !git aa && git cm
[include]
	path = ~/.gitconfig.local
[user]
	name = 
	email = 
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/67/0clkf47j2n1f8msk0qr_k64r0000gn/T/AppTranslocation/C8DE58DF-422E-4406-90FE-85F088B105C5/d/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/user/.stCommitMsg
[ghq]
    root=~/src
